<!doctype html>
<html lang="en" class="semi-dark">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    

    <!--plugins-->
    <link href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <!--Theme Styles-->
    <link href="assets/css/dark-theme.css" rel="stylesheet" />
    <link href="assets/css/semi-dark.css" rel="stylesheet" />
    <link href="assets/css/header-colors.css" rel="stylesheet" />

    <title>Admin</title>
  </head>
  <body>
    

 <!--start wrapper-->
    <div class="wrapper">
       <!--start sidebar -->
       <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
          <div>
            <a href="/">
              <img src="assets/images/logo-icon-2.png" class="logo-icon" alt="logo icon">
            </a>          </div>
          <div>
            <h4 class="logo-text">Admin</h4>
          </div>
          <div class="toggle-icon ms-auto"><ion-icon name="menu-sharp"></ion-icon>
          </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
          <li>
            <a href="/">
              <div class="parent-icon"><ion-icon name="person-circle-sharp"></ion-icon>
              </div>
              <div class="menu-title">Messages</div>
            </a>
          </li>
          <li>
            <a href="/interviews">
              <div class="parent-icon"><ion-icon name="person-circle-sharp"></ion-icon>
              </div>
              <div class="menu-title">Interviews</div>
            </a>
          </li>
        </ul>
        <!--end navigation-->
     </aside>
     <!--end sidebar -->

        <!--start top header-->
          <header class="top-header">
            <nav class="navbar navbar-expand gap-3">
              <div class="mobile-menu-button"><ion-icon name="menu-sharp"></ion-icon></div>
              <form class="searchbar">
                <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><ion-icon name="search-sharp"></ion-icon></div>
                <input class="form-control" type="text" placeholder="Search for anything">
                <div class="position-absolute top-50 translate-middle-y search-close-icon"><ion-icon name="close-sharp"></ion-icon></div>
             </form>
             <div class="top-navbar-right ms-auto">

              <ul class="navbar-nav align-items-center">
                <li class="nav-item mobile-search-button">
                  <a class="nav-link" href="javascript:;">
                    <div class="">
                      <ion-icon name="search-sharp"></ion-icon>
                    </div>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dark-mode-icon" href="javascript:;">
                    <div class="mode-icon">
                      <ion-icon name="moon-sharp"></ion-icon> 
                    </div>
                  </a>
                </li>
               </ul>

              </div>
            </nav>
          </header>
        <!--end top header-->


        <!-- start page content wrapper-->
        <div class="page-content-wrapper">
          <!-- start page content-->
         <div class="page-content">
          <div class="card">
            <div class="card-body">
              <div class="border p-3 rounded">
                <h6 style="margin-block: 2rem; font-size: 2rem;">Add New Maid</h6>
              
              <form class="row g-3" action="/api/v1/maids" method="post" enctype="multipart/form-data">
                <div class="col-12">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" name="name">
                </div>
                <div class="col-12">
                  <label class="form-label">Nationality</label>
                  <select name="nationality" id="nationalitySelect" class="form-control" onchange="showOtherNationalityInput()">
                    <option value="Sri Lanka">Sri Lanka</option>
                    <option value="Nepal">Nepal</option>
                    <option value="Myanmar">Myanmar</option>
                    <option value="India">India</option>
                    <option value="Philippines">Philippines</option>
                    <option value="Other">Other</option>
                  </select>
                  <input name="otherNationality" type="text" id="otherNationalityInput" class="form-control" style="display: none; margin-top: 1rem;" placeholder="Enter Nationality">
                </div>
                
                <!-- <div class="col-12">
                  <label class="form-label">Position</label>
                    <select name="position" class="form-control">
                      <option value="House Maid">House Maid</option>
                    </select>
                </div> -->
                <div class="col-12">
                  <label class="form-label">Monthly Salary</label>
                  <select name="salery" class="form-control">
                    <option value="70">70</option>
                    <option value="75">75</option>
                    <option value="80">80</option>
                    <option value="85">85</option>
                    <option value="90">90</option>
                    <option value="95">95</option>
                    <option value="100">100</option>
                    <option value="105">105</option>
                    <option value="110">110</option>
                    <option value="115">115</option>
                    <option value="120">120</option>
                    <option value="125">125</option>
                    <option value="130">130</option>
                    <option value="135">135</option>
                    <option value="140">140</option>
                    <option value="145">145</option>
                    <option value="150">150</option>
                    <option value="155">155</option>
                    <option value="160">160</option>
                    <option value="165">165</option>
                    <option value="170">170</option>
                    <option value="175">175</option>
                    <option value="180">180</option>
                    <option value="185">185</option>
                    <option value="190">190</option>
                  </select>
                  
                </div>
                <div class="col-12">
                  <label class="form-label">Price</label>
                  <input type="number" class="form-control" name="price">
                </div>
                <div class="col-12">
                  <label class="form-label">Religion</label>
                  <select name="religion" id="religionSelect" class="form-control" onchange="showOtherInput()">
                    <option value="Muslim">Muslim</option>
                    <option value="Christian">Christian</option>
                    <option value="Other">Other</option>
                  </select>
                  <input  name="otherReligion" type="text" id="otherReligionInput" class="form-control" style="display: none; margin-top: 1rem;" placeholder="Enter Religion">
                </div>
                
                <div class="col-12">
                  <label class="form-label">Marital Status</label>
                  <select name="maritalStatus" class="form-control">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Childrens</label>
                  <select name="childrens" class="form-control">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Age</label>
                  <input type="number" class="form-control" name="age">
                </div>
                <div class="col-12">
                  <label class="form-label">Education</label>
                  <select name="education" class="form-control">
                    <option value="Class 5th">Class 5th</option>
                    <option value="Class 6th">Class 6th</option>
                    <option value="Class 7th">Class 7th</option>
                    <option value="Class 8th">Class 8th</option>
                    <option value="Matric">Matric</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Graduate">Graduate</option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Applied For</label>
                  <select name="appliedFor" class="form-control">
                    <option value="Domestic Worker">Domestic Worker</option>
                    <option value="Barista">Barista</option>
                    <option value="Waitress">Waitress</option>
                    <option value="Nurses">Nurses</option>
                    <option value="Driver">Driver</option>
                    <option value="Cook">Cook</option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Experience</label>
                  <div style="display: flex; align-items: center; gap: 1rem;" class="form-control">
                    <input type="text" class="form-control" name="experienceYears" placeholder="e.g. 2 Years">
                    <span>From</span>
                    <select name="experienceCountry" class="form-control">
                      <option value=""></option>
                      <option value="Bahrain">Bahrain</option>
                      <option value="Kuwait">Kuwait</option>
                      <option value="Oman">Oman</option>
                      <option value="Qatar">Qatar</option>
                      <option value="Saudi Arabia">Saudi Arabia</option>
                      <option value="United Arab Emirates">United Arab Emirates</option>
                    </select>
                    
                  </div>
                </div>
                
                <div class="col-12">
                  <label class="form-label">Languages</label>
                  <div class="form-control">
                    <input type="checkbox" id="Arabic" name="languages[]" value="Arabic">
                    <label for="Arabic">Arabic</label>
                
                    <input type="checkbox" id="english" name="languages[]" value="English">
                    <label for="english">English</label>
                
                    <input type="checkbox" id="hindi" name="languages[]" value="Hindi">
                    <label for="hindi">Hindi</label>
                    
                    <input type="checkbox" id="nepali" name="languages[]" value="Nepali">
                    <label for="nepali">Nepali</label>
                
                    <input type="checkbox" id="Burmese" name="languages[]" value="Burmese">
                    <label for="Burmese">Burmese</label>
                
                    <input type="checkbox" id="Other" value="Other" name="languages[]" onchange="showOtherLanguageInput()">
                    <label for="Other">Other</label>
                    <input name="otherLanguages" type="text" id="otherLanguageInput" class="form-control" style="display: none; margin-top: 1rem;" placeholder="Enter Other Language">
                  </div>
                </div>
                
                <div class="col-12">
                  <label class="form-label">Contract Period</label>
                  <select name="contractPeriod" class="form-control">
                    <option value="2 Years">2 Years</option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Remarks</label>
                  <input value="She is good at cleaning, washing, ironing, and baby care. She is willing to learn cooking." type="text" class="form-control" name="remarks">
                </div>
                <div class="col-12">
                  <label class="form-label">Image</label>
                  <input type="file" class="form-control" name="maidImg">
                </div>
                <div class="col-12">
                  <label class="form-label">Secondary Image 1</label>
                  <input type="file" class="form-control" name="maidImg2">
                </div>
                <div class="col-12">
                  <label class="form-label">Secondary Image 2</label>
                  <input type="file" class="form-control" name="maidImg3">
                </div>
                <div class="col-12">
                  <label class="form-label">Secondary Image 3</label>
                  <input type="file" class="form-control" name="maidImg4">
                </div>
                <div class="col-12">
                  <label class="form-label">Video</label>
                  <input type="file" accept="video/*" class="form-control" name="videoLink">
                </div>
                <!-- <div class="col-12">
                  <label class="form-label">Video</label>
                  <input type="text" class="form-control" name="videoLink">
                </div> -->
                <div class="text-start mt-3">
                  <button type="submit" class="btn btn-primary px-4">Save</button>
                </div>
              </form>
              
            </div>
            </div>
          </div>
          </div>
          <!-- end page content-->
         </div>
         

         <!--Start Back To Top Button-->
		     <a href="javaScript:;" class="back-to-top"><ion-icon name="arrow-up-outline"></ion-icon></a>
         <!--End Back To Top Button-->
  
         <!--start overlay-->
          <div class="overlay nav-toggle-icon"></div>
         <!--end overlay-->

     </div>
  <!--end wrapper-->


    <!-- JS Files-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <!--plugins-->
    <script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

    <!-- Main JS-->
    <script src="assets/js/main.js"></script>

<script>
  function showOtherInput() {
  var selectElement = document.getElementById("religionSelect");
  var otherInput = document.getElementById("otherReligionInput");

  if (selectElement.value === "Other") {
    otherInput.style.display = "block"; // Show input field
  } else {
    otherInput.style.display = "none"; // Hide input field
  }
}


function showOtherNationalityInput() {
  var selectElement = document.getElementById("nationalitySelect");
  var otherInput = document.getElementById("otherNationalityInput");

  if (selectElement.value === "Other") {
    otherInput.style.display = "block"; // Show input field
  } else {
    otherInput.style.display = "none"; // Hide input field
  }
}

function showOtherLanguageInput() {
  var otherCheckbox = document.getElementById("Other");
  var otherInput = document.getElementById("otherLanguageInput");

  if (otherCheckbox.checked) {
    otherInput.style.display = "block"; // Show input field
  } else {
    otherInput.style.display = "none"; // Hide input field
  }
}


</script>
  </body>
</html>