<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>

    <style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@page{
  size: A4 portrait;
}
body {
    overflow-x: hidden;
    height: 297mm !important;
    width: 210mm !important;
}
main {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    /* height: auto;
    width: auto; */
}


    </style>
    <title>pdf</title>
</head>
<body>
    <main>
        <div class="image-box">
            <img class="pdfImg relative" src="../assets/CV/cv.png" alt="">
            
        </div>
        <div>
          <div class="absolute top-[19%] right-[20%]">
            <div class="name text-[2.6vw] font-[550] text-white">
              Him Kim Tim
            </div>
          </div>
          <div class="absolute top-[24%] left-[8.7%]">
            <div class="upperImage w-[17.2vw] h-[17.5vw] font-[550] text-white">
              <img class="w-full h-full object-cover object-top rounded-2xl" src="https://res.cloudinary.com/umarfarooq/image/upload/w_500,q_auto/tderewofe5pb9kzftbb7" alt="">
            </div>
          </div>
          <div class="absolute top-[24%] right-[22%]">
            <div class="appliedFor text-[2.6vw] font-[550] text-[#262F32]">
              Domestic Worker
            </div>
          </div>
          <div class="absolute top-[28.5%] right-[31%]">
            <div class="salary text-[2.6vw] font-[550] text-[#262F32]">
             120 OMR
            </div>
          </div>
          <div class="absolute top-[33%] right-[33.7%]">
            <div class="contractPeriod text-[2.6vw] font-[550] text-[#262F32]">
             2 Years
            </div>
          </div>
          <div class="absolute top-[46.4%] left-[32%]">
            <div class="maritalStatus text-[2.6vw] font-[550] text-[#262F32]">
             Single
            </div>
          </div>
          <div class="absolute top-[50.9%] left-[32%]">
            <div class="childrens text-[2.6vw] font-[550] text-[#262F32]">
             --
            </div>
          </div>
          <div class="absolute top-[55.3%] left-[32%]">
            <div class="languages text-[2.6vw] font-[550] text-[#262F32]">
              English, Nepali and Tamil
            </div>
          </div>
          <div class="absolute top-[59.8%] left-[32%]">
            <div class="experience text-[2.6vw] font-[550] text-[#262F32]">
              2 Years in Dubai
            </div>
          </div>
          <div class="absolute top-[64.3%] left-[32%]">
            <div class="education text-[2.6vw] font-[550] text-[#262F32]">
              High School
            </div>
          </div>
          <div class="absolute top-[69%] left-[32%]">
            <div class="nationality text-[2.6vw] font-[550] text-[#262F32]">
              Kuwait
            </div>
          </div>
          <div class="absolute top-[73.4%] left-[32%]">
            <div class="age text-[2.6vw] font-[550] text-[#262F32]">
              29 Years Old
            </div>
          </div>
          <div class="absolute top-[40%] right-[8.5%]">
            <div class="upperImage w-[26vw] h-[52vw] font-[550] text-white">
              <img class="w-full h-full object-cover object-top rounded-2xl" src="https://res.cloudinary.com/umarfarooq/image/upload/w_500,q_auto/tderewofe5pb9kzftbb7" alt="">
            </div>
          </div>
          <div class="absolute top-[80%] left-[21.7%]">
            <div class="remarks text-[2.6vw] font-[400] text-[#fff] leading-[140%]">
              Baby care. She's welling to learning cook. She's good in clean, washing, ironing and baby care. She's welling to learning cook. SheBaby care.             </div>
          </div>

        </div>
        

    </main>
    
</body>
</html>